# Xcode
xcuserdata/
DerivedData/

# Build & Artifacts
.build/
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.swiftpm/xcode/package.xcworkspace/

# Firebase
GoogleService-Info.plist

# Secrets
.env
*.env
Secrets.plist

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
